
.about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
    padding: 40px 0;
}

.about-us__content--left, 
.about-us__content--right {
    flex: 1;
    padding: 20px;
}

.about-us__title {
    color: var(--color-main);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 10px;
}

.about-us__subtitle {
    color: var(--color-white);
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.about-us__description {
    color: var(--color-lightgrey);
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
}

.about-us__content--right .about-us__subtitle {
    font-size: 35px;
    line-height: 45px;
    font-weight: 400;
    color: var(--color-white);
}

.about-us__text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
    color: var(--color-grey);
}

.statistic {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 20px 0;
    border-top: 1px solid rgba(225, 225, 225, 0.2); 
    border-bottom: 1px solid rgba(225, 225, 225, 0.2); 
}

.statistic__item {
    text-align: left;
    flex: 1;
    margin: 10px;
}

.statistic__number {
    color: var(--color-white);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.statistic__description {
    color: var(--color-grey);
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 600px) {
    .about-us {
        flex-direction: left;
        text-align: center;
    }

    .about-us__content--left, 
    .about-us__content--right {
        padding: 10px;
    }

    .statistic {
        flex-direction: left;
    }

    .statistic__item {
        margin-bottom: 20px;
    }
}
