.collections {
  background-color: var(--color-black);
  padding: 90px 30px;
  display: grid;
  grid-template-columns: 1fr;
  color: var(--color-white);
  font-family: "Manrope", sans-serif;
  gap: 40px;
}

.collections__lighting-solutions {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  align-items: start;
}

.collections__content {
  max-width: 600px;
  text-align: left;
  z-index: 2;
}

.collections__title {
  font-size: 10px;
  color: var(--color-main);
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.collections__subtitle {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--color-white);
}

.collections__description {
  font-size: 19px;
  color: var(--color-lightgrey);
  margin-bottom: 20px;
  line-height: 26px;
}

.collections__text {
  font-size: 18px;
  color: var(--color-gray);
  margin-bottom: 30px;
  line-height: 24px;
}

.materials {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.materials__item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.materials__image {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.materials__name {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 5px;
}

.materials__description {
  font-size: 16px;
  color: var(--color-gray);
  font-weight: 400;
  line-height: 25px;
}

.collections__image {
  width: 100%;
}

.collections__room-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 768px) {
  .collections__lighting-solutions {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  .collections {
    padding: 120px 90px;
  }

  .collections__content {
    max-width: 100%;
  }

  .collections__subtitle {
    font-size: 64px;
  }
}

@media (min-width: 1024px) {
  .collections__content {
    max-width: 600px;
  }

  .collections__subtitle {
    font-size: 72px;
  }
}

@media (max-width: 767px) {
  .collections {
    grid-template-columns: 1fr;
    padding: 60px 20px;
  }

  .collections__lighting-solutions {
    grid-template-columns: 1fr;
  }

  .collections__content {
    max-width: 100%;
  }

  .collections__subtitle {
    font-size: 32px;
  }
}