.collections {
  background-color: var(--color-black);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 90px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Manrope", sans-serif;
  color: var(--color-white);
}

.collections__lighting-solutions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.collections__title {
  font-size: 32px;
  color: var(--color-main);
  margin-bottom: 16px;
}

.collections__subtitle {
  font-size: 24px;
  color: var(--color-gray);
  margin-bottom: 24px;
}

.collections__description,
.collections__text {
  font-size: 16px;
  color: var(--color-lightgrey);
  margin-bottom: 16px;
}

.materials {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.materials__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.materials__image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.materials__name {
  font-size: 20px;
  color: var(--color-white);
}

.materials__description {
  font-size: 16px;
  color: var(--color-lightgrey);
}

.collections__image {
  max-width: 50%;
}

.collections__room-image {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: var(--sm)) {
  .collections {
    flex-direction: column;
  }

  .collections__image {
    max-width: 100%;
    margin-top: 32px;
  }
}