.luminous {
  background-color: #0d0d0d;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
}

.bcr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 250px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/luminous-beckgr1.png");
  background-size: auto 100%;
  background-size: cover;
  background-position: center;
  padding-top: 65px;
  padding-bottom: 65px;
  align-items: center;
  gap: var(--gap16);

  .bcr__title {
    font-size: 62px;
    color: var(--color-main);
    font-weight: 500;
  }

  .bcr__path {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .bcr__item {
    color: var(--color-gray);
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 700;
  }

  .bcr__current {
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: underline;
    font-size: 10px;
  }
}

.project__details-title {
  color: var(--secondary-divider-color);
  font-weight: bold;
  font-size: 24px;
}

.project__details-value {
  color: var(--color-white);
  font-weight: bold;
  font-size: 24px;
}

.container {
  margin: auto;
  max-width: 1550px;
}

.project {
  display: flex;
  flex-direction: column;
  gap: var(--gap16);

  .project__images {
    display: flex;
    flex-direction: row;
    gap: var(--gap16);

    .project__image2 {
      border-radius: 0 30% 0 0;
      overflow: hidden;
    }
  }

  .project__details {
    display: flex;
    flex-direction: row;
    gap: var(--gap16);
  }
}
