:root {
  scroll-behavior: smooth;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-main: #d78c43;
  --color-black: #000;
  --color-white: #fff;
  --color-dark: #252527;
  --gap: 8px;
  --gap16: 16px;
  --gap24: 24px;
  --gap32: 32px;
  --gap40: 40px;
  --gap48: 48px;
  --gap56: 56px;
  --gap64: 64px;
  --gap72: 72px;
  --gap80: 80px;
  --trs: all 0.3s ease-in-out;

  --xs: 480px;
  --sm: 768px;
  --md: 991px;
  --lg: 1200px;
  --xlg: 1400px;

}
