.services__text-container{
    padding-left: var(--gap30);
    padding-right: var(--gap30);
    padding-top: var(--gap90);
    padding-bottom: var(--gap90);
    background-color: var(--color-black);
    text-align: left;
}

.services__main-title{
    font-size: var(--gap10);
    color: var(--color-main);
    font-weight: 600;
}

.services__subtitle{
    font-size: var(--gap40);
    margin-top: var(--gap20);
}   

.services__content{
    margin-top: var(--gap60);
    padding-left: var(--gap10);
    padding-right: var(--gap10);
}

.services__welcome-title{
    margin-top: var(--gap60);
}

.services__description{
    margin-top: var(--gap25);
    color: var(--color-gray);
}

.services__icon{
    margin-top: var(--gap20);
    display: flex;
    align-items: flex-start;
}

.icon{
    max-width: 100%;
    height: var(--gap20);
    width: var(--gap24);
}

.services__icon-text{
    font-size: var(--gap16);
    color: var(--color-light);
    margin-left: var(--gap10);
}