<section class="features-gallery">
    <div class="features-gallery__container">
        <ul class="features-gallery__list">
            <li class="features-gallery__item">
                <img src="img/features-list-image-1.jpg" alt="features gallery image 1">
            </li>
            <li class="features-gallery__item">
                <img src="img/features-list-image-2.jpg" alt="features gallery image 2">
            </li>
            <li class="features-gallery__item">
                <img src="img/features-list-image-3.jpg" alt="features gallery image 3">
            </li>
            <li class="features-gallery__item">
                <img src="img/features-list-image-4.jpg" alt="features gallery image 4">
            </li>
        </ul>
    </div>
</section>