<footer class="footer">
   <div class="footer__logo-container" style="background-color: 0d0d0d;">
    <a class="footer__logo-link" href="index.html">
    <img class="footer__logo-image" src="./img/prizma-logo.svg" alt="prizma-logo" width="157">
  </a>
 </div>
    <p >
        We provide lightning solutions for homes and businesses. 
        Prizma Studio develops lightning projects and creates unique light fixtures.
    </p>
   <section class="footer__menu menu">
<div class="menu__column column">
    <h2 class="column-title">Navigation</h2>
    <ul class="column-list list">
<li class="list__item"><a href="#about.html">About Us</a></li>
<li class="list__item"><a href="index.html#areas">Services</a></li>
<li class="list__item"><a href="index.html#projects">Projects</a></li>
<li class="list__item"><a href="index.html#products">Collections</a></li>
<li class="list__item"><a href="contacts.html">Contacts</a></li>
    </ul>
</div>
<div class="menu__column column">
    <h2 class="column-title">Collections</h2>
    <ul class="column-list list">
        <li class="list__item"><a href="index.html">Wooden Life</a></li>
        <li class="list__item"><a href="index.html">Outdoor Lightning</a></li>
        <li class="list__item"><a href="index.html">Ceiling Fixtures</a></li>
        <li class="list__item"><a href="index.html">Bedside Lamps</a></li>
        <li class="list__item"><a href="index.html">LED Lightning</a></li>
    </ul>
</div>
   </section>
   <div class="footer__contacts-info">
    <ul class="footer__contacts-info__list ">
<li>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="-370 248.3 100 100" enable-background="new -370 248.3 100 100" xml:space="preserve" style="width: 14.4px;" height="18"><path fill="currentColor" d="M-320,253.3c-19.9,0-36,16.1-36,36c0,36,36,54,36,54s36-17,36-54C-284,269.4-300.1,253.3-320,253.3z   M-320,307.3c-9.9,0-18-8.1-18-18c0-9.9,8.1-18,18-18s18,8.1,18,18C-302,299.2-310.1,307.3-320,307.3z" style=""></path></svg>
     2 Broklyn St, NY
    711-2880 Nulla St, NY
    935-9940 Tortor. Street, NY
    666-4366 Lacinia Avenue, NY</li>
<li>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="width: 15.1px; height: 14.9px;"><g style="" fill="currentColor"><path fill="currentColor" d="M87.2,21.2c0-2.8-2.3-5.2-5.1-5.2H16.4c-2.8,0-5.1,2.4-5.1,5.2l38.2,27.4L87.2,21.2z" style=""></path><polygon fill="currentColor" points="11,30.9 11,58 26.8,42.2  " style=""></polygon><polygon fill="currentColor" points="87,58 87,30.9 71.3,42.3  " style=""></polygon><path fill="currentColor" d="M49.6,58.2L33.4,46.7L11.6,68.4c0.6,2.2,2.5,3.6,4.9,3.6H19v16.7l0.2-0.1L41.9,72h40.3   c2.3,0,4.3-1.4,4.9-3.6L65.3,46.7L49.6,58.2z" style=""></path></g></svg>
    <a href="#email">prizma-studio@email.com</a></li>
<li>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="width: 16.61px; height:17.99px"><path d="M90.1,75.1l-0.5-1c-1.4-3.3-18.6-8.3-20-8.4l-1.1,0.1c-2.1,0.4-4.4,2.3-8.9,6.2c-0.9,0.8-2.1,1-3.2,0.4  c-5.9-3.3-13.1-9.9-16.7-13.9c-3.9-4.3-8.6-11.4-10.8-17.1c-0.4-1.1,0-2.3,0.8-3.1c5.1-4.6,7.3-6.8,7.5-9.2c0.1-1.4-2.9-19.1-6-20.8  l-0.9-0.6c-2-1.3-5-3.2-8.3-2.5c-0.8,0.2-1.6,0.5-2.3,0.9C17.5,7.5,12,11.3,9.5,16.2C8,19.3,7.3,47.4,28.3,71.1  c20.8,23.5,46.5,24.5,50.3,23.7l0.1,0l0.3-0.1c5.2-1.9,9.6-6.8,11.3-8.9C93.4,82.1,91.3,77.6,90.1,75.1z" style="" fill="currentColor"></path></svg>
   <a href="#"> +1 (234) 567 89 00</a></li>
    </ul>

   </div>
</footer>