<footer class="footer">
   <div class="footer__logo-container" style="background-color: 0d0d0d;">
    <a class="footer__logo-link" href="./">
    <img class="footer__logo-image" src="./img/prizma-logo.svg" alt="prizma-logo" width="157">
  </a>
 </div>
    <p >
        We provide lightning solutions for homes and businesses. 
        Prizma Studio develops lightning projects and creates unique light fixtures.
    </p>
   <section class="footer__menu menu">
<div class="menu__column column">
    <h2 class="column-title">Navigation</h2>
    <ul class="column-list list">
<li class="list__item"><a href="#about-us.html">About Us</a></li>
<li class="list__item"><a href="#">Services</a></li>
<li class="list__item"><a href="#">Projects</a></li>
<li class="list__item"><a href="#">Collections</a></li>
<li class="list__item"><a href="#">Contacts</a></li>
    </ul>
</div>
<div class="menu__column column">
    <h2 class="column-title">Collections</h2>
    <ul class="column-list list">
        <li class="list__item"><a href="#">Wooden Life</a></li>
        <li class="list__item"><a href="#">Outdoor Lightning</a></li>
        <li class="list__item"><a href="#">Ceiling Fixtures</a></li>
        <li class="list__item"><a href="#">Bedside Lamps</a></li>
        <li class="list__item"><a href="#">LED Lightning</a></li>
    </ul>
</div>
   </section>
   <div class="footer__contacts-info">
    <ul class="footer__contacts-info__list ">
<li >2 Broklyn St, NY
    711-2880 Nulla St, NY
    935-9940 Tortor. Street, NY
    666-4366 Lacinia Avenue, NY</li>
<li>prizma-studio@email.com</li>
<li>+1 (234) 567 89 00</li>
    </ul>

   </div>
</footer>